In [1]:
# Create ML model to integrate into Website

# Install pickle library
# pip install pickle-mixin

In [2]:
# Import essential libraries
import numpy as np
import pandas as pd

In [3]:
# Import Dataset
dataset = pd.read_csv('taxi.csv')
dataset.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [4]:
dataset.shape

(27, 5)

In [5]:
dataset.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [7]:
# Seperate dataset into independent and dependent variables
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [9]:
# Split the dataset into training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [10]:
# Apply Algorithm and create model
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [11]:
# Create pickle file from above model
import pickle
pickle.dump(reg, open('taxi.pkl', 'wb')) # wb = write binary mode

In [14]:
# Test the model
model = pickle.load(open('taxi.pkl', 'rb'))
model.predict([[80, 1770000, 6000, 85]]).round(2)

array([153448.45])